/* RESET START */

*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body{
	margin: 0;
	color: #34484b;
	font: 12px/1 "Harmonia_regular", sans-serif;
	background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
ul, ol, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
a, a:hover{
	color: inherit;
	text-decoration: none;
}

img{
	max-width: 100%;
}
input, textarea, button{
	outline:none;
	border:none;
}

textarea{
	resize: vertical;
}
button{
	cursor: pointer;
}
label{
	margin-bottom: 0;
}
/* RESET END */

/* default classes start */
.flex-container{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.align-center{
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.justify-sp-between{
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.justify-sp-around{
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}
.flex-basis{
	-webkit-flex-basis: 100%;
	    -ms-flex-preferred-size: 100%;
	        flex-basis: 100%;
}
.justify-center{
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.flex-wrap{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.flex-column{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.orange-text{
	color: #ff5912;
}
.grey-text{
	color: #e9ecf3;
}
.bg-white{
	background-color: #fff;
}
.red-bg{
	background-color: #e12e3f;
}
.black-bg{
	background-color: #34404b;
}
.blue-bg{
	background-color: #3ab3ff;
}
.green-bg{
	background-color: #2fd967;
}
.light-orange-bg{
	background-color: #ff9060;
}
.orange-bg{
	background-color: #ff5912;
}
.btn{
	padding: 15px 25px;
	font-family: "Harmonia_semibold";
}
.btn-default{
	color: #fff;
	background-color: #ff5912;
	border:none;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: #fff;
    background-color: #ff5912;
    border:none;
    outline: none;
}
.btn-default:active{
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.btn-radius{
	-webkit-border-top-left-radius: 25px;
	        border-top-left-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	        border-bottom-left-radius: 25px;
	-webkit-border-top-right-radius: 25px;
	        border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	        border-bottom-right-radius: 25px;
}
@media (max-width: 599px){
	.btn{
		padding: 10px 15px;
		font-size: 12px;
	}
}
/* default classes end */

/* default component start */
.custom-icon{
	display: inline-block;
}
.icon-add-to-cart-ic:hover{
	background-position: 0px -38px;
}
.icon-like-ic:hover{
	background-position: -38px -80px;
}
.icon-cart-ic:hover{
	background-position: -20px -59px;
}
.icon-search-ic:hover{
	background-position: -81px 0px;
}
.icon-share-ic:hover{
	background-position: -44px -59px;
}
.icon-user-ic:hover{
	background-position: 0px -59px;
}
.title{
	font-family: "Harmonia_black";
	text-transform: uppercase;
	font-size: 36px;
	margin-bottom: 25px;
}
.title.big{
	font-size: 52px;
}
.subtitle{
	display: block;
	font-size: 16px;
	color: #495662;
	margin-bottom: 70px;
}
.default-section{
	padding: 60px 0;
}
@media (max-width:768px){
	.title{
		font-size: 28px;
		margin-bottom: 15px;
	}
	.title.big{
		font-size: 40px;
	}
	.subtitle{
		font-size: 14px;
	}
	.default-section{
		padding: 45px 0;
	}
}
@media (max-width:599px){
	.title{
		font-size: 22px;
	}
	.title.big{
		font-size: 30px;
	}
	.subtitle{
		font-size: 12px;
	}
	.default-section{
		padding: 35px 0;
	}
}
.checkbox-group input[type="checkbox"]{
	display: none;
}

.checkbox-group label{
	font-size: 16px;
	color: #34404b;
	cursor: pointer;
}
.checkbox-group + .checkbox-group label{
	margin-top: 35px;
}
.checkbox-group label::before{
	content: '';
	display: inline-block;
	width: 13px;
	height: 13px;
	border: 4px solid #edf8f2;
	background-color: #edf8f2;
	margin-right: 13px;
}
.checkbox-group input[type="checkbox"]:checked+ label{
	color: #ff5912;
}
.checkbox-group input[type="checkbox"]:checked+ label::before{
	border-color: #ff5912;
}
.item, .small-item {
	background-color: #fff;
	padding: 30px 10px;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	text-align: center;
}
.item{
	position: relative;
	height: 372px;
}
.item:hover, .small-item:hover{
	-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.item .item-img{
	margin-bottom: 30px;
	height: 216px;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.item .item-img img{
	max-height: 100%;
}
.item:hover .item-img{
	height: 90px;
}
.item-description{
	padding: 0 40px;
}
.item-title,
.item-price{
	font-family: "Harmonia_semibold";
	font-size: 18px;
	color: #34404b;
}
.item-title{
	margin: 30px 0;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.item:hover .item-title{
	color: #ff5912;
}
.item:hover .item-price{
	display: none;
}

.more-info-on-hover,
.small-item-info-on-hover{
	opacity: 0;
	position: absolute;
	bottom: 30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	width: 100%;
	padding: 0 50px;
}
.item:hover .more-info-on-hover{
	opacity: 1;
}
.more-info-on-hover .size{
	font-size: 14px;
	margin-bottom: 29px;
	color: #34404b;
}
.more-info-on-hover .colors{
	text-align: center;
	padding-bottom: 30px;
	border-bottom: 1px solid #f2f4f7;
}
.more-info-on-hover .colors li{
	display: inline-block;
	width: 13px;
	height: 13px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li + li{
    margin-left: 30px;
}
@media (max-width: 1199px){
	.item-description, .more-info-on-hover, .small-item .item-img{
		padding:0;
	}
}
@media(max-width: 991px){
	.item{
		margin-bottom: 30px;
	}
}
@media(max-width: 768px){
	.item-description{
		padding: 0 50px;
	}
	.item-title{
		font-size: 15px;
	}
}
@media(max-width: 599px){
	.item{
		margin-bottom: 15px;
	}
}
.item-small-description{
	position: relative;

}
.stars{
	margin-right: 75px;
	font-size: 18px;
}
.stars li{
	font-size: 12px;
}
.stars li+li{
	margin-left: 4px;
}
.small-item{
	padding: 35px 0px 35px 30px;
}
.small-item .item-title{
	margin-top: 0;
	margin-right: 30px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.item-small-description{
	height: 66px;
	padding-left: 27px;
	border-left: 1px solid #f5f5f6;
}
.small-item:hover .stars-price{
	display: none;
}
.small-item-info-on-hover{
	padding: 0;
	font-size: 14px;
	bottom:0;
}
.small-item:hover .small-item-info-on-hover{
	opacity: 1;
}
.small-item-info-on-hover span{
	margin-right: 6px;
}
@media(max-width: 1199px){
	.small-item-description{
	padding-right: 10px;
	padding-left: 10px;
	}
}
@media(max-width: 768px){
	.small-item{
		margin-bottom: 30px;
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
	}
}
@media(max-width: 599px){
	.small-item{
		margin-bottom: 15px;
	}
}
.subscribe-form{
	padding: 37px 42px;
}
.subscribe-input-group{
	margin-right: 30px;
}
.subscribe-input-group label{
	vertical-align: middle;
	margin-right: 10px;
}
.subscribe-input{
	font-family: "Harmonia_italic";
	font-size: 14px;
	color: #7c8791;
	min-width: 255px;
}
.subscribe-description span:first-child{
	font-family: 'Harmonia_bold';
	font-size: 18px;
	margin-right: 30px;
	text-transform: uppercase;
}
.subscribe-description span:last-child{
	font-family: 'Harmonia_italic';
	font-size: 14px;
	color: #34404b;
}
@media(max-width: 991px){
	.subscribe-form{
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.subscribe-description{
		margin-bottom: 30px;
	}
}
@media(max-width: 599px){
	.subscribe-form{
	padding: 37px 22px;
	}
	.subscribe-description span:last-child{
		font-size: 12px;
	}
	.subscribe-input{
		font-size: 12px;
		min-width: 155px;
	}
}
@media(max-width: 479px){
	.subscribe-form{
		padding: 37px 15px;
	}
	.subscribe-description span:last-child{
		display: block;
		margin-top: 10px;
	}
	.subscribe-input{
		font-size: 12px;
		min-width: 105px;
	}
}
.header{
	position: relative;
}
header .top-header{
	border-bottom: 1px solid #edeff1;
	padding: 20px 0;
}
header .top-header .phone-list li+li{
	margin-left: 20px;
}
header .top-header .phone-list li span.custom-icon{
	margin-right: 10px;
}
header .top-header .social-nav a:hover{
	color: #ff5912;
}
header .top-header .social-nav a+a{
	margin-left: 20px;
}
header .bottom-header .logo{
	margin: 43px 0;
	margin-right: 85px;
}
header .bottom-header .header-nav li{
	font-size: 16px;
}
header .bottom-header .header-nav li>a:hover{
	text-decoration: none;
	color: #ff5912;
}
header .bottom-header .header-nav li+li{
	margin-left: 45px;
}
header .bottom-header .users-controls{
	margin-left: auto;
}
header .bottom-header .users-controls a+a{
	margin-left: 30px;
}
header .bottom-header .users-controls .badge{
	position: relative;
	top:-20px;
	left:3px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background-color: #34404b;
}
header .bottom-header .users-controls .badge span{
	font-size: 10px;
}
@media(max-width: 991px){
	header .bottom-header .header-nav{
		display: none;
	}
	.slicknav_menu{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	header .bottom-header .users-controls{
		margin-left: 0;
	}
	header .bottom-header .logo{
		margin-right: 0;
	}
}
@media(max-width: 599px){
	header .top-header .phone-list li{
		font-size: 11px;
	}
}
@media(max-width: 479px){
	header .top-header{
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	header .top-header .phone-list{
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	header .top-header .phone-list li+li{
		margin-top: 10px;
		margin-left: 0;
}
	header .top-header .phone-list li{
		font-size: 10px;
		width: 100%;
	}
	header .top-header .social-nav a+a{
		margin-left: 10px;
	}
	header .bottom-header{
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	header .bottom-header .logo{
		text-align: center;
		width: 70px;
		margin: 51px 0;
		
	}
	
	header .bottom-header .users-controls a+a{
		margin-left: 15px;
	}
}
.load-more{
	background-color: #fff;
	padding: 30px 0;
	margin-top: 80px;
}
.load-more:hover{
	cursor: pointer;
}
.load-more span.circle{
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: #ff5912;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.load-more span+span{
	margin-left: 6px;
}

.items-carousel{
	min-height: 650px;
	background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
	margin-bottom: 60px;
}
/* default component end */

/* MAIN SYART */
a.order-now:hover{
	color: #ff5912
}
.item-flexslider{
	position: static;
}
.carousel-inner .item:hover{
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.items-carousel-description{
	padding-left: -webkit-calc(8.3333% + 30px);
	padding-left: calc(8.3333% + 30px);
	text-align: left;
}
.items-carousel-description span.subtitle{
	font-family: "Harmonia_semibold";
	line-height: 30px;
	font-size: 18px;
	color: #3c4751;
	margin-bottom: 0;
}
.items-carousel-description p{
	font-size: 16px;
	line-height: 30px;
	color: #495662;
}
.price-wraper{
	font-family: "Harmonia_semibold";
	font-size: 18px;
	color: #34404b;
	margin-top: 60px;
}
.price-wraper .price{
	margin-right: 30px;
}
.price-wraper .order-now span{
	margin-right: 18px;
}
.item-flexslider .carousel-inner > .item{
	background: none;
}
.item-flexslider .carousel-indicators{
	width: auto;
	bottom: auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left: 0px;
	margin: 0;
}
.item-flexslider .carousel-indicators li{
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  width: 10px;
  height: 16px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  display: block;
  margin: 0;
  border: none;

}
.item-flexslider .carousel-indicators li+li{
	margin-top: 10px;
}
.item-flexslider .carousel-indicators .active{
  background: #ff5912;
  height: 36px;
}
.item-flexslider .item{
	height: auto;
}
@media (max-width:768px){
	.items-carousel .container{
		margin: 0;
	}
	.items-carousel-description{
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.items-carousel-description span.subtitle{
		font-size: 14px;
	}
	.items-carousel-description p{
		font-size: 13px;
	}
	.price-wraper{
		font-size: 17px;
	}
	.items-carousel-description{
		padding-left: 40px;
	}
}
@media (max-width:599px){
	.items-carousel{
		min-height: 400px;
	}
}
@media (max-width:479px){
	.items-carousel{
		min-height: 300px;
	}
	.items-carousel-description .title{
		font-size: 25px;
	}
	.items-carousel-description span.subtitle{
		font-size: 13px;
	}
	.price-wraper{
		font-size: 14px;
		margin-top: 20px;
	}
	.price-wraper .order-now span{
		margin-right: 8px;
	}
	.items-carousel-description p{
		line-height: 20px;
	}
	.items-carousel-description span.subtitle{
		font-size: 12px;
	}
}
.kit{
	height:100px;
	padding: 20px 47px 20px 60px;
}
.block-sale{
	position: relative;
	margin-right: 60px;
	margin-left: 12px;
	width: 30px;
}
.block-sale>div{
	display: inline-block;
	width: 50px;
	height: 60px;
}
.block-sale div:first-child{
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.block-sale .block-top{
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	position: absolute;
	top: 0;
}
.block-sale .text-inside{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-25%);
	    -ms-transform: translateY(-25%);
	        transform: translateY(-25%);
}
.text-inside span{
	color: #fff;
}
.text-inside span:first-child{
	top:-10px;
	font-size: 12px;
	font-family: 'Harmonia_italic';
}
.text-inside span:last-child{
	font-family: "Harmonia_black";
	font-size: 18px;
	top:-30px;
}
.full-winter span{
	display: block;
}
.full-winter .sale-title{
	color: #34404b;
	font-size: 22px;
	font-family: "Harmonia_black";
	margin-bottom: 8px;
}
.full-winter span.sale-description{
	line-height: 30px;
	font-size: 12px;
	color: #495662;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
}
.sale-price{
	color: #ff5912;
	font-size: 32px;
	font-family: "Harmonia_black";
}
.sale-price span{
	margin-right: 18px;
}
.sale-price span.small-span{
	font-size: 22px;
}
.sale .kit span.adv-title{
	font-size: 16px;
	margin-bottom: 15px;
}
.sale .kit span.size{
	font-size: 12px;
	letter-spacing: 0.6em;
	color: rgba(52, 64, 75, 0.4);
}
@media (max-width:1199px){
	.kit{
		padding: 20px 25px;
	}
}
@media (max-width:991px){
	.kit{
		margin-bottom: 30px;
	}
}
@media (max-width:599px){
	.kit{
		-webkit-flex-wrap:  wrap;
		    -ms-flex-wrap:  wrap;
		        flex-wrap:  wrap;
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
		height: 150px;
	}
	.full-winter .sale-title{
		font-size: 16px;
	}
	.full-winter{
		width: 50%;
	}
	.sale-price{
		font-size: 25px;
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}

}
@media (max-width:320px){
	.kit{
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 10px 15px;
	}
}
/* category styles  start*/
.mobile-sidebar-btn{
	font-size: 30px;
	color: #ff5912;
	display: none;
	margin-bottom: 20px;
}
.aside-section{
	padding: 40px;
}
.aside-section + .aside-section{
	margin-top: 30px;
}
.aside-section-title{
	font-family: "Harmonia_black";
	font-size: 18px;
	color: #ff5912;
	margin-bottom: 35px;
}
.range{
	margin-top: 65px;
}
input[type='number'] {
    -moz-appearance: textfield;
}
.min-value, .max-value{
	position: absolute;
	top: -250%;
	font-size: 14px;
	color: #34404b;
	font-family: "Harmonia_semibold";
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	left: 50%;
}
.ui-widget.ui-widget-content{
	border:none;
	background-color: #edf0f2;
	height: 3px;
	width: 185px;
}
.ui-widget-header /* inside */{
	background-color: #34404b;
}
.ui-state-default, .ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, .ui-button,
.ui-button.ui-state-disabled:hover,
.ui-button.ui-state-disabled:active{
 	border: none;
	height: 12px;
	width: 12px;
	background-color: #34404b;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.ui-corner-all{
	-webkit-border-radius: 0;
	        border-radius: 0;
}
.range-input-reoup{
	margin-top: 35px;
}
.range-input-reoup + .range-input-reoup{
	margin-left: 23px;
}
.range-input-reoup input[type="number"]{
	background-color: #edf0f2;
	height: 25px;
	width: 45px;
}
.range-input-reoup label{
	margin-right: 15px;
	font-size: 14px;
	font-family: "Harmonia_semibold";
}
.category-wrap{
	padding-top: 120px;
}
.category-wrap .item{
	margin-bottom: 30px;
}
.categories li{
	font-family: "Harmonia_semibold";
	line-height: 50px;
	font-size: 16px;
	color: #34404b;
	margin-bottom: 4px;
}
.categories li:hover{
	color: #ff5912;
}
.category-wrap .load-more{
	margin-top: 28px;
	margin-bottom: 120px;
}
@media (max-width: 991px){
	.category-wrap{
		padding: 60px 0;
	}
	.mobile-sidebar-btn{
		display: inline-block;
		z-index: 99;
		position: relative;
	}
	.mobile-sidebar-wrap{
		position: absolute;
		-webkit-transform: translateX(-110%);
		    -ms-transform: translateX(-110%);
		        transform: translateX(-110%);
		-webkit-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;
		z-index: 99;
	}
	main.show .mobile-sidebar-wrap{
		-webkit-transform: translateX(0);
		    -ms-transform: translateX(0);
		        transform: translateX(0);
		left: 0;
		right: 0;
	}
	.overlay{
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		opacity: 0;
		z-index: -1;
		-webkit-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;
		background-color: rgba(0, 0, 0, .4);
	}
	main.show .overlay{
		z-index: 98;
		opacity: 1;
	}
	main.show .mobile-sidebar-btn{
		-webkit-transform: rotate(-180deg);
		    -ms-transform: rotate(-180deg);
		        transform: rotate(-180deg);
	}
	
}
/* category styles  end*/

/* product styles start */

.product-wrap{
	padding-top: 85px;
	padding-bottom: 125px;
	margin-bottom: 60px;
}
.product-carousel{
	width: 330px;
}
.text-wrap{
	width: 515px;
	padding-bottom: 40px;
}
.title-wrap .subtitle{
	margin-bottom: 40px;
	margin-left: 30px;
	font-family: 'Harmonia_semibold';
}
.text-wrap p{
	font-size: 16px;
	line-height: 30px;
	color: #495662;
}
.choose-size span,
.quantity span{
	margin-right: 16px;
	font-family: 'Harmonia_semibold';
	font-size: 18px;
	color: #34404b;
}
.size-radio input[type="radio"]{
	display: none;
}
.size-radio label{
	font-size: 14px;
	color: #34404b;
	font-family: "Harmonia_semibold";
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
}
.size-radio label::before{
	content: '-';
	position: absolute;
	left: 15px;
	color: #34404b;
}
.last label::before{
	display: none;
}
.size-radio input[type="radio"]:checked +label{
	color: #ff5912;
	font-size: 18px;
}
.size-radio +.size-radio{
	margin-left: 20px;
}
.order-form {
	padding: 40px 0;
	border-top: 1px solid #edeff1;
	border-bottom: 1px solid #edeff1;
} 
.quantity{
	position: relative;
}
.quantity::before{
	content: '';
	position: absolute;
	height:15px;
	width: 1px;
	border-left: 1px solid #edeff1;
	left: -50%;
}

.order-now{
	padding-top: 60px;
}
.product-price{
	margin-right: auto;
	font-family: 'Harmonia_black';
	font-size: 20px;
	color: #34404b;
}
.product-share {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.product-share li+li{
	margin-left: 25px;
}
@media (max-width: 991px){
	.product-wrap{
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.product-carousel{
		width: 100%;
	}
	.text-wrap{
		width: 100%;
	}
	.product-carousel{
		width: 280px;
	}
	span .subtitle{
		margin-left: 0;
	}
}
@media (max-width: 768px){
	.product-wrap .title{
		font-size: 40px;
	}
	.product-wrap span.subtitle{
		font-size: 16px;
	}
}
@media (max-width: 599px){
	.text-wrap p{
		line-height: 20px;		
		font-size: 14px;
	}
	.product-price{
		font-size: 18px;
	}
	form#product-option{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.quantity{
		margin-top: 20px;
	}
	.product-wrap{
		padding-top: 50px;
		padding-bottom: 80px;
	}
	.product-wrap span.subtitle{
		margin-bottom: 40px;
		font-size: 16px;
	}
}	
@media (max-width: 479px){
	.product-wrap .title{
		font-size: 30px;
	}
	.product-wrap span.subtitle{
		margin-bottom: 20px;
		font-size: 14px;
	}
	span.subtitle{
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 30px;
	}
	.text-wrap p{
		font-size: 12px;
	}
	.choose-size span,
	.quantity span{
		font-size: 14px;
	}
	.order-now{
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.order-now .submit{
		width: 100%;
		margin-top: 30px;
		text-align: center;
	}
	
	
}
/* product style end */

/* MAIN END */
footer .row{
	width: 100%;
}
.col-footer-2, .col-footer-2-12{
	width: 16.67%;
	display: inline-block;
	padding: 0 20px;
}
.col-footer-4{
	width: 24%;
	display: inline-block;
}
footer.default-section{
	margin-top: 60px;
	padding-bottom: 25px;
}

footer .footer-content{
	padding: 30px 15px 35px;
}
footer .first-column img{
	margin-bottom: 25px;
}
footer .first-column span{
	color: #28313b;
	font-size: 14px;
	display: block;
}
footer .second-column li{
	margin-bottom: 20px;
	position: relative;
	font-size: 14px;
}
footer .second-column li:hover{
	color: #ff5912;
}
footer .second-column li:hover::before{
	background-color: #ff5912;
}
footer .second-column li::before{
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background-color: #34404b;
	left:-14px;
	top: 50%;
}
footer .third-column span{
	font-family: "Harmonia_semibold";
	line-height: 30px;
	font-size: 16px;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
}
footer .third-column li{
	margin-top: 15px;
}
footer .third-column li+li{
	margin-left: 10px;
}
@media (max-width: 1199px){
	footer .second-column li{
		font-size: 13px;
	}
	footer .third-column{
		width: auto;
	}
	.col-footer-2{
		width: 18%;
	}
	.col-footer-4{
		width: 22%;
	}
	footer .first-column span{
		font-size: 13px;
	}
}
@media (max-width: 991px){
	footer .footer-content .row{
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.col-footer-2{
		width: 25%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: nowrap;
		    -ms-flex-wrap: nowrap;
		        flex-wrap: nowrap;
	}
	.col-footer-2-12.third-column, .col-footer-4{
		width: 100%;
		text-align: center;
	}
	footer .first-column{
		margin-bottom: 30px;
	}
	footer .col-footer-2{
		margin-left: auto;
	}
	footer .third-column ul{
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
@media (max-width: 768px){
	.col-footer-2{
		width: 30%;
	}
}
@media (max-width: 599px){
	footer .footer-content{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	footer .col-footer-2{
		width: 50%;
		font-size: 11px;
		margin: 0;
		padding-left: 60px;
	}
	
}
@media (max-width: 479px){
	footer .col-footer-2{
		width: 100%;
	}
}
/* all styles start */

/* all styles end */